<p style="color: green"><%= notice %></p>

<h1>St logs</h1>

<div id="st_logs">
  <% @st_logs.each do |st_log| %>
    <%= render st_log %>
    <p>
      <%= link_to "Show this st log", st_log %>
    </p>
  <% end %>
</div>

<%= link_to "New st log", new_st_log_path %>
