<div id="<%= dom_id ld_formato %>">
  <p>
    <strong>Ld formato:</strong>
    <%= ld_formato.ld_formato %>
  </p>

  <p>
    <strong>Ownr class:</strong>
    <%= ld_formato.ownr_class %>
  </p>

  <p>
    <strong>Ownr:</strong>
    <%= ld_formato.ownr_id %>
  </p>

</div>
