<div class='row'>
	<div class='col-md-6'>
		<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'archive', text: "Repositorio General", clr: config[:color][:app]} %></h4>
	    <%= render partial: 'repositorios/app_directorios/partials/directorio', locals: {objeto: @repositorio_general, tag: 'general-'} %>
	</div>
	<div class='col-md-6'>
		<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'archive', text: "Repositorio #{perfil_activo.email}", clr: config[:color][:app]} %></h4>
	    <%= render partial: 'repositorios/app_directorios/partials/directorio', locals: {objeto: @repositorio_perfil, tag: 'perfil-'} %>
	</div>
</div>
