<h1>Editing ld parrafo</h1>

<%= render "form", ld_parrafo: @ld_parrafo %>

<br>

<div>
  <%= link_to "Show this ld parrafo", @ld_parrafo %> |
  <%= link_to "Back to ld parrafos", ld_parrafos_path %>
</div>
